@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crudizinho</h1>
    <p class="lead">Essa aplicação é soh um exemplo de um CRUD, usando Simple Injector e FluentValidation.net.</p>
    <p><a href="https://fluentvalidation.net" class="btn btn-primary btn-lg">FluentValidation &raquo;</a></p>
    <p><a href="https://https://simpleinjector.readthedocs.io/en/latest/mvcintegration.html" class="btn btn-primary btn-lg">Simple Injector &raquo;</a></p>
</div>

